.User {
  background-color: #222;
  min-height: 100vh;
}

.Heading {
  font-size: 9rem;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5rem;
  text-shadow: 0.3rem 0.3rem 0.3rem #000;
}

.btn-8 {
  line-height: 50px;
  padding: 0;
  background: transparent;
  position: absolute;
  z-index: 2;
  color: #fff;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 20rem;
  left: 20rem;
  background-color: #fff;
  cursor: pointer;
}
.btn-8:hover {
  color: #000;
}
.btn-8:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: -1;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  transition: all 0.3s ease;
}
.btn-8:hover:after {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.calling {
  line-height: 50px;
  padding: 0;
  background: transparent;
  position: absolute;
  z-index: 2;
  color: #000;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  top: 20rem;
  left: 40rem;
  border-radius: 20%;
}

.img-calling {
  width: 7rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 20%;
}

.btn-logout-user {
  background-color:rgb(204, 0, 0);
  border-radius: 20px;
  width: 7rem;
  height: 2rem;
  font-size: 22px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top:2rem;
  
}

.btn-logout-user:hover {
  background-color:rgb(255, 179, 179);
  color: rgb(65, 8, 8);
}