.login {
  width: 5%;
  background-color: #FAC748;
  color: #080710;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 2rem;
}


