
.info-input {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.logout-button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

.LoginApp {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #222; */
  background-image: url('https://images.unsplash.com/photo-1501817931860-6b22e34ca1a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1778&q=80');
}

.form-head {
  display: block;
  position: relative;
}

form::after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #ffce00, #fe4880);
}

.form-inner {
  position: relative;
  display: block;
  background-color: white;
  padding: 30px;
  z-index: 2;
}

.form-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.form-inner .form-group {
  display: block;
  width: 300px;
  margin-bottom: 15px;
}

.form-inner .form-group label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.form-inner .form-group:focus-within label {
  color: #fe4880;
}

.form-inner .form-group input {
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

.form-inner .form-group input:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.form-inner input[type='submit'] {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(
    to right,
    #fece00 50%,
    #fece00 50%,
    #fe4880
  );
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.form-inner input[type='submit']:hover {
  background-position: 100% 0%;
}

.home-btn {
  margin-left: 1rem;
}